* {
  box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    background:linear-gradient(to right, #02ccba 0%,#aa7ecd 100% );
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  display:none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
}
/* styling the popup for starting the game*/
.popup {
  width: 606px;
  height: 505px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 10px solid #440066;
  padding: 20px;
  color: #8800cc;
  box-shadow: 0 0 30px #444649;
}
/* styling the start button */
button {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  padding: 10px 30px;
  background: #dd99ff;
  border: 5px solid #dd99ff;
}
/* hovering over the start button*/
button:hover {
  cursor: pointer;
  background: #ccffff;
}
/* Winning pop-up at the end of the game */
.win {
}

.win h2 {
  text-transform: uppercase;
  font-size: 2.5em;
}

.win p {
  font-size: 2.5em;
}

/* Styling the characters either idle or selected*/
.characterSelection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.selectionItem {
  width: 150px;
  height: 180px;
  border: 5px solid #ffcccc;
}

.selectionItem:hover {
  background: #ffcccc;
  cursor: pointer;
}

/* Interaction with the game */
.hidden {
  display: none;
}

.selected {
  border: 5px solid #8800cc;
  background: #ffffff;
}
